# Web3Forms Access Key for the quote form
# Get your free access key at https://web3forms.com/
# Quote submissions will be sent to info@redfoxsteamclean.com
NEXT_PUBLIC_WEB3FORMS_KEY=your_web3forms_access_key_here
